body {
	background-color:antiquewhite;
    text-align: center;
    margin-top: 300px;
}
img.slide {
	max-width: 300px;
}
h1 {
	text-align: center;
	font-family: Comic Sans MS ;
	color:lightcoral;
	font-weight: bold;
	font-size: 3em;
	
}
p.problem {
	font-family:Ubuntu Condensed;
	color: cornflowerblue;
	font-size: 1.3em;
	font-weight: bold;
    
}
#container {

	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 75%;
	padding-left: 1.5em;
		
}
img {
    margin: 0 auto;
    padding: 20px;
	display: block;
    max-width: 100%;
    max-height: 100%;
    
}
button{margin-right: 2em;
       background-color: cadetblue;
       width:150px;
       height: 30px;
       margin-bottom: 3em;
}

.question{
    display: none;
    
}
