body {
	background-color:antiquewhite;
}
h1 {
	text-align: center;
	font-family: Comic Sans MS ;
	color:lightcoral;
	font-weight: bold;
	font-size: 3em;
	
}
#container {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 75%;
	border: 1em double white;
	border-radius: 1em;
	padding-left: 4em;
		
}

p.problem {
	font-family:Ubuntu Condensed;
	color: cornflowerblue;
	font-size: 2em;
	font-weight: bold;
	padding-bottom: 1em;
	
	
/*	margin-top: 0em;*/
    
}

.picture{
	display: block;
	width: 600px;
	margin-left: 8em;
	padding-bottom: 3em;
    
}

.option{
	  margin-right: 2em;
       background-color: lavender;
       width: 15em; 
	   padding-top: 0.3em;
	   padding-bottom: 0.3em;
	   margin-top: 1em;
       margin-bottom: 3em;
	   text-align: center;
	   font-size: 1em;
	   border-radius: 0.5em;
	  
}

.option:focus {
	background-color: salmon;
	color:white;
}

.next { 
	    display: block;
	    background-color: silver;
        width: 20em; 
	    padding-top: 0.3em;
	    padding-bottom: 0.3em;
        margin-bottom: 3em;
	 	text-align: center;
	    font-size: 1em;
	    border-radius: 0.5em;
	    font-weight: bold; 
	    
}



.next:hover{
	background-color:bisque;
	
}
.question{
    display: none;
    
}
#answer {
	font-size: 3em;
	padding: 1em;
	color:darkblue;
	font-weight: bold;
	font-family: monospace;
}


