body {
	background-color:antiquewhite;
}
img.slide {
	max-width: 300px;
}
h1 {
	text-align: center;
	font-family: Comic Sans MS ;
	color:lightcoral;
	font-weight: bold;
	font-size: 3em;
	
}
p.problem {
	font-family:Ubuntu Condensed;
	color: cornflowerblue;
	font-size: 1.3em;
	font-weight: bold;
    
}
#container {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 75%;
	border: 1em double white;
	border-radius: 1em;
	padding-left: 1.5em;
		
}
img {
	display: block;
	margin-left: 8em;
	padding-bottom: 2em;
    width: 17em;
    
}
button{margin-right: 2em;
       background-color: cadetblue;
       width: 25%; 
    margin-bottom: 3em;
}

